streamlit==1.31.1
pandas==2.2.1
jpholiday==0.1.10
plotly==5.19.0
torch==2.2.1
openpyxl==3.1.2
firebase-admin==6.4.0
pyrebase4==4.7.1
bcrypt==4.1.2
passlib==1.7.4
pillow==10.2.0
requests==2.31.0
filelock==3.12.0
